.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #00695c;
}
body{
background-color: #0d19a3;
}

form{
    background-color: rgb(9, 2, 28);;
    padding: 20PX;
    color: #ffff;
    border-radius: 20px;
}
